<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body class="bg-info">

        <div class="col-md-6">
            Image 2 is displayed
            <img src="https://p.kindpng.com/picc/s/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png"
              style="height: 100px; width:100px;">
        </div>
        <div class="col-md-6">
            Image 3 is displayed
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxoVYK9gVqDWkfv3blKuxWEO0t9JrH6XSjxg&usqp=CAU"
              style="height: 100px; width:100px;">
        </div>
    </body>
</html>