<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body class="bg-info">
        <div class="row">
        <div class="col-md-6">
            Image 1 is displayed
            <img src="https://i2.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1"
              style="height: 100px; width:100px;">
        </div>
        <div class="col-md-6">
            Image 2 is displayed
            <img src="https://p.kindpng.com/picc/s/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png"
              style="height: 100px; width:100px;">
        </div>
        </div>
    </body>
</html>