<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body class="bg-info">
        <div class="row">
            here is Image 1 is displayed
            <img src="https://i2.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1"
              style="height: 100px; width:100px;">
        </div>
    </body>
</html>